/* Fredoka +1 by Milena Brandao */
@font-face {
    font-family: 'Fredoka One';
    src: url('../assets/fonts/FredokaOne-Regular.eot');
    src: url('../assets/fonts/FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FredokaOne-Regular.woff2') format('woff2'),
        url('../assets/fonts/FredokaOne-Regular.woff') format('woff'),
        url('../assets/fonts/FredokaOne-Regular.ttf') format('truetype'),
        url('../assets/fonts/FredokaOne-Regular.svg#FredokaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// colors
$color-white:rgb(252, 252, 252);
$color-black:rgb(42, 43, 46);
$color-blue:rgb(68, 123, 136);

a, button {cursor:pointer;}
a{text-decoration: none; }
a:hover, button:hover{text-decoration: underline;}
button
{
    margin:2rem;  
    font-family: 'Fredoka One';
    font-size: 3rem;
    border:0.3rem solid $color-blue;
    padding:1.8rem; 
}

html, body
{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width:100vw;
    font-size:62.5%;
    font-family: 'Fredoka One';
}


.navbar, .logoNav, .navTabs, .imgFeed, .footerLinks, .footerColumn{display: flex;}
.navbar, .imgFeed, .footer, .footerColumn {flex-direction: column;}

.logoNav, .navTabs, .imgFeed, .footer, .footerLinks{justify-content: center;}
.imgFeed, .footer {align-items: center;}
.section-1, .section-2, .section-3, .logoSub{text-align: center;}



button:hover, .logNav, .footer{background-color: $color-blue;}
html, body, button, .navTabs {background-color: $color-white;}

button:hover, .logNav, .footer, .author {color:$color-white}
button, .navTabs, .logoSubSuper {color:$color-blue;}


.footer{font-size: 1.8rem;}
.footerHead{font-size: 2.5rem;}
.author{font-size: 4rem;}


.navbar,.mainContent > div{width:100%}



.navbar
{
    z-index: 99999;
    position: fixed;
}

.logoNav
{
    font-size:3.5rem;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
}

.navTabs
{
    padding: 2rem 0 2rem 0;
    border: 0.3rem solid rgb(228, 228, 228);
    a
    {
        cursor: pointer;
        font-size:3rem;
        padding:0 2rem 0 2rem;
    }
}

    
        .section-1
        {
            padding:13rem 0 5rem 0;

            height: 78rem;
            justify-content: space-evenly;
            // border-bottom:0.3rem solid  rgb(228, 228, 228);
            .logoImg
            {
                margin-top:7rem;
                box-sizing: border-box;                    
                height:45rem;
                width:auto;    
            }
            .logoSub
            {
                margin-top:2rem;
                font-size: 11rem;
            }
            .logoSubSuper
            {
                margin-top: 1rem;

                font-size: 7rem;
            }
        }
        .section-2
        {
            padding:5rem 0 5rem 0;
            >div{padding:4rem 0 2rem 0}
            // border-bottom:0.3rem solid  rgb(228, 228, 228);
            
        }
        .section-3 {
            padding:5rem 0 5rem 0;
            .imgFeed
            {
                padding:5rem 0 5rem 0;
            }
            .imgTile
            {
                height:40rem;
                width: 40rem;
            }
            .imgRect
            {
                height:40rem;
                width:70rem;
            }
        }
    .footer
    {
        padding:5rem 0 5rem 0;

        .footerColumn
        {
            padding:0 5rem 0 5rem; 
            >div{padding-bottom: 2rem;}
            >a
            {
                padding:0 0 1rem 0;
                // &:hover{text-decoration: underline;}
            }
        }

    }


